.info-img {
	display: flex;
	justify-content: center;
	margin: 40px 10px;
}

.img-compani {
	height: auto;
	max-width: 1000px;
	width: 100%;
	object-fit: cover;
}

.titlu-firma {
	text-transform: uppercase;
	text-align: center;
	font-size: 17px;
	font-weight: 400;
	color: #282828;
}

.content-firma {
	max-width: 900px;
	margin: 0 auto;
	letter-spacing: 0.7px;
	color: #282828;
	padding-bottom: 35px;
}

.content-firma p {
	padding: 5px 50px 5px 40px;
}

.content-firma__important {
	color: #ac0303;
	padding-bottom: 0;
	margin-bottom: 0;
	font-weight: bold;
}

@media screen and (max-width: 700px) {
	.info-img {
		margin: 20px 5px;
	}

	.img-compani {
		height: 200px;
	}

	.content-firma p {
		padding: 5px 20px;
	}
}

@media screen and (max-width: 400px) {
	.content-firma {
		letter-spacing: normal;
		padding-bottom: 20px;
	}

	.content-firma p {
		padding: 5px;
	}
}
