@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}

ul {
	list-style: none;
}

html {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
}

.container {
	max-width: 1240px;
	padding: 0px 20px;
	width: 100%;
	margin: 0 auto;
}

.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.titlu-user {
	padding: 26px 0 20px;
	font-size: 17px;
	text-transform: uppercase;
	text-align: center;
	line-height: 18px;
}

.titlu-hr {
	max-width: 40px;
	color: #b10303;
	border: 1px solid #b10303;
	padding: 0;
	margin: 6px auto;
}
