.search-and-carousel {
	margin: 40px auto 10px;
	height: 420px;
	position: relative;
}

.search-form form {
	display: flex;
	flex-direction: column;
	gap: 25px;
	max-width: 420px;
	position: absolute;
	left: 50px;
	top: 50%;
	z-index: 1;
	transform: translateY(-50%);
}

.group-search {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.group-search label {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}

.group-search input {
	border-radius: 6px 0 0 6px;
}

.group-search .input-group-addon {
	border-radius: 0 6px 6px 0;
}

.input-group__item .input-group-addon {
	border-radius: 6px 0 0 6px;
}

.input-group {
	display: flex;
	flex-direction: row;
}

.input-group__item {
	display: flex;
}

.input-group__item + .input-group__item {
	margin-left: 20px;
}

.input-group__item input {
	border-radius: 0 8px 8px 0;
}

.input-group-addon {
	display: flex;
	align-items: center;
	color: #555;
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 8px 16px;
}

.input-group input {
	border: 1px solid #ccc;
	width: 100%;
	padding: 10px 10px;
}

.input-group input:focus {
	box-shadow: none;
	outline: 0;
}

.glyphicon-info-sign {
	position: relative;
	cursor: pointer;
}

.glyphicon-info-sign::before {
	content: '';
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #555;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.glyphicon-info-sign::after {
	content: 'ð”¦';
	font-size: 18px;
	font-weight: bolder;
	position: absolute;
	color: #eee;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.search-btn {
	margin-top: 10px;
	padding: 10px 20px;
	font-size: 14px;
	border: 0;
	border-radius: 8px;
	max-width: 120px;
	text-align: left;
	background-color: #ac0303;
	color: #fff;
	font-weight: bold;
	letter-spacing: 0.5px;
	text-transform: lowercase;
	cursor: pointer;
}

.loop-btn {
	position: relative;
}

.loop-btn::after {
	content: '\1F50D';
	font-size: 18px;
	font-weight: bolder;
	position: absolute;
	color: #eee;
	top: 35%;
	right: -30px;
	transform: translate(0%, -50%);
}

/* De verificat */
.carousel {
	max-height: 100%;
	position: absolute;
	bottom: 0px;
	right: 0;
	transform: translateX(-0%);
	z-index: 0;
	object-fit: cover;
}

.carousel {
	background-image: linear-gradient(to right, #282828 50%, transparent 100%),
		url('./../../Assets/Images/15.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%, fill;
	background-position: right;
	height: 420px;
	max-width: 1200px;
	width: 100%;
}

.content-cars {
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 30px;
}

.content-cars h2 {
	font-weight: normal;
}

.content-car {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-bottom: 100px;
}

.car-item {
	width: 100%;
	background-color: #eee;
	display: grid;
	grid-template-columns: 1fr 1.5fr 1fr;
	gap: 10px;
	height: 150px;
}

.car-img {
	width: 200px;
	height: 150px;
	object-fit: cover;
}

.car-item__content {
	padding: 15px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.car-item__content a {
	font-size: 18px;
	color: #282828;
	margin-bottom: 35px;
}

.car-item__content p > span {
	font-weight: bold;
}

.car-item__more-info {
	display: flex;
	gap: 60px;
}

.car-item__more-info span {
	font-weight: 700;
}

.car-auction {
	padding: 15px 0;
	margin-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.auction-time {
	color: #282828;
	font-size: 13px;
	text-transform: uppercase;
}

.auction-time span {
	font-weight: 700;
	text-transform: lowercase;
}

.auction-entry-actions {
	margin-left: 35px;
	font-size: 12px;
	padding: 0 0 0 2px;
	background-color: #fff;
	border: 1px solid #ccc;
	display: flex;
	align-items: center;
	gap: 7px;
	z-index: 0;
	position: relative;
}

.auction-entry__img {
	background-image: url(./../../Assets/Images/car-img.png);
	background-repeat: no-repeat;
	object-fit: cover;
	height: 39px;
	width: 61px;
	position: absolute;
	object-fit: cover;
	left: -65px;
	bottom: -20px;
}

.auction-action-make-offer {
	background-color: #555;
	border-radius: 8px;
	position: relative;
	padding: 11px 0 11px 40px;
}

.auction-action-make-offer a {
	bottom: -1px;
	right: -7px;
	position: absolute;
	padding: 5px 5px;
	border-radius: 8px;
	background-color: #ac0303;
	font-weight: 700;
	color: #fff;
	margin-right: -10px;
}

.auction-action-make-offer a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 980px) {
	.car-item__register,
	.car-item__more-info,
	.auction-entry-actions {
		display: none;
	}

	.car-item {
		grid-template-columns: auto auto;
	}

	.car-item__img {
		grid-column: 1;
		grid-row: 1/3;
	}

	.car-item__content,
	.car-auction {
		grid-column: 2;
	}
}

@media screen and (max-width: 600px) {
	.search-form form {
		left: 20px;
		right: 20px;
	}

	.input-group__item + .input-group__item {
		margin-left: 10px;
	}

	.car-item__content {
		padding: 20px 0 0;
	}

	.car-item__content a {
		font-size: 16px;
		margin-bottom: 0;
	}
	.auction-time {
		font-size: 12px;
	}
}

@media screen and (max-width: 500px) {
	.car-item {
		gap: 0px;
	}

	.car-img {
		margin-right: 10px;
	}

	.car-item__content {
		padding: 10px 0 0;
	}

	.finis-auction,
	.time-auction {
		display: flex;
		flex-direction: column;
	}

	.time-auction {
		margin-top: 6px;
	}
}

@media screen and (max-width: 400px) {
	.search-and-carousel {
		margin: -10px auto 10px;
	}
	.search-form form {
		left: 7px;
		right: 7px;
		top: 55%;
	}

	.input-group__item .input-group-addon {
		padding: 8px;
	}

	.input-group input {
		padding: 10px 5px;
	}

	.carousel {
		background-image: linear-gradient(to right, #282828 100%, transparent 100%),
			url('./../../Assets/Images/15.jpg');
		border-radius: 10px;
		height: 380px;
	}

	.car-item {
		height: 140px;
	}

	.car-img {
		width: 150px;
		height: 140px;
		object-fit: fill;
	}

	.car-item__content {
		padding: 10px 0;
	}
}
